@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Poppins:wght@100;200;300&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-padrao: 'Poppins', sans-serif;
    --font01: 'Lato', sans-serif;
    --cor01: #ee8c14;
    --cor05: #E36917;
}

body {
    font-family: var(--font01);
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background: #c0b2b2bd;*/
    color: var(--cor05);
    font-size: 1.8em;
    text-transform: uppercase;
    height: 40px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--cor05);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

li {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

nav a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: var(--cor01);
}

a:hover {
    background-color: var(--cor05);
    color: black;
    border-radius: 4px;
}

#footer-flex {
    display: flex;
    background-color: #00080A;
    flex-wrap: wrap;
}

#cover-img {
    background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.327)), url('/assets/images/main-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    border-radius: 8px;
}

.row {
    width: 100%;
    height: 100vh;
}

.col {
    width: 50%;
    height: 100vh;
}

#title {
    position: absolute;
    left: 60%;
    top: 120px;
    text-align: center;
}

#title h2 {
    font-family: var(--font01);
    font-weight: 700;
    font-size: 2em;
    line-height: 50px;
    text-align: center;
    color: #fff;
    padding: 14px;
}

h3 {
    text-align: center;
    color: #fff;
    margin: 30px;
}

form {
    background: -webkit-linear-gradient(top, #ee8c14, #E36917);
    padding: 60px;
    border-radius: 2px;
    width: 300px;
    border-radius: 10px;
}

.card-header {
    top: 300px;
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    padding: 50px;
}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ee8c14;
    outline: none;
}

.card-footer .btn-primary {
    width: 100%;
    height: 40px;
    background-color: #eed1bdb9;
    border: none;
    color: #fff;
    margin: 50px 0;
    border-radius: 5px;
}

/* section hero */

.hero {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.card {
    width: 18rem;
    margin: 0 auto;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #ee8c14;
    border-radius: 6px;
}

.card-img-top {
    max-width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.card-title {
    font-size: 20px;
    color: #ee8c14;
    padding: 20px;
}

.card-text {
    font-size: 15px;
    color: #444;
    padding: 20px;
}

a.btn.btn-primary {
    background-color: #E36917;
    color: #444;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
}

.page-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.image img {
    max-width: 100%;
    height: auto;
}

.recipe-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-details-cooking {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.nav-button {
    background-color: #fff;
    color:#ee8c14;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px;
}

h1 {
    font-size: 2.5rem;
    color: #E36917;
}

.description {
    font-size: 20px;
    color: #444;
    margin-top: 60px;
}

.recipe-icons {
    grid-row: 3;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-icons i {
    margin-right: 6px;
    margin: 50px;
}

i.fa-regular.fa-clock,
i.fa-solid.fa-bowl-rice,
i.fa-solid.fa-person {
    font-size: 20px;
    margin-right: 10px;
}

span.time,
span.difficulty,
span.servings {
    font-size: 1rem;
    color: #ee8c14;
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 97%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: var(--cor05);
        background-color: var(--cor05);
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}
